@charset "utf-8";

/*
theme Name: yuppy_wp_practice
Author: Yuppy
Description: original theme
version: 1.0.0
*/

body {
    font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ', 'Hiragino Kaku Gothic', 'Noto Sans Japanese', Osaka, 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #fdfafd;
    border-bottom: double 6px #f5e1f5;
}

footer {
    border-top: double 6px #f5e1f5;
}

.site-title {
    text-align: left;
}

.site-title h1 {
    font-size: 2.4em;
    letter-spacing: 0.15em;
    margin: 0;
    padding: 20px;
}

.site-title h1 a {
    display: block;
    text-decoration: none;
    color: #f291c5;
}

.top-image {
    display: block;
    width: 90%;
    margin: 10% auto;
}

/* スマホ用のメニューボタン */
.header-inner {
    position: relative;
}

#navbutton {
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 8px 12px;
    font-size: 1.3em;
    color: #f291c5;
    cursor: pointer;
    border: solid 2px #f291c5;
    border-radius: 5px;
    background: #fff;
}

#navbutton:hover {
    background-color: #f5e1f5;
}

#navbutton:focus {
    outline: none;
}

/* ヘッダーナビ */
#header-nav {
    display: none;
}

.header-nav {
    padding-left: 20px;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav li a:before {
    content: "\f0da";
    font-family: 'Font Awesome 5 Free';
    color: #f291c5;
    font-weight: bold;
    font-size: 0.9em;
    padding-right: 3px;
}

.header-nav li a {
    display: block;
    padding: 10px 5px;
    color: #807b7b;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

.header-nav li a:hover {
    opacity: .8;
}

/* フッター */
.footer {
    background-color: #f5e4f5;
}

/* フッターメニュー */
.footer-nav {
    padding-top: 20px;
    margin-bottom: 20px;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-nav li {
    width: 50%;
    text-align: center;
}

.footer-nav li a {
    font-size: .9em;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ee94d7;
}

.footer-nav li a:hover {
    opacity: .6;
}

/* コピーライト */
.copyright p {
    font-size: .9em;
    margin: 0;
    text-align: center;
    color: #fafafa;
    text-shadow: 2px 2px 2px #ee94d7;
}

/* サイドバー */
.sidebar-wrapper {
    margin-bottom: 1.8em;
    padding: 10px;
}

.sidebar-wrapper h4 {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: #f7bae4;
}

/* デフォルトウィジェット */
.widget_recent_entries ul, .widget_meta ul, .widget_recent_comments ul, .widget_pages ul, .widget_meta ul, .widget_categories ul, .widget_archive ul, .widget_nav_menu ul {
    padding: 0;
    list-style: none;
}

.widget_recent_entries li, .widget_meta li, .widget_recent_comments li, .widget_pages li, .widget_meta li, .widget_categories li, .widget_archive li, .widget_nav_menu li {
    position: relative;
    padding: 10px;
}

.widget_recent_entries li, .widget_nav_menu li {
    padding-left: 15px;
}

.widget_recent_entries a, .widget_meta a, .widget_recent_comments a, .widget_pages a, .widget_meta a, .widget_categories a, .widget_archive a, .widget_nav_menu a {
    text-decoration: none;
    color: #807b7b;
}

.widget_recent_entries a:hover, .widget_meta a:hover, .widget_recent_comments a:hover, .widget_pages a:hover, .widget_meta a:hover, .widget_categories a:hover, .widget_archive a:hover, .widget_nav_menu a:hover {
    opacity: .6;
    text-decoration: none;
}

/* カテゴリウィジェット */
.widget_categories li {
    display: inline-block;
    margin: 2px;
    padding: 2px 10px;
    white-space: nowrap;
    border: 1.5px dotted #f8bc3a;
    border-radius: 3px;
    background-color: #f7f7d8;
}

.widget_categories li:before {
    font-family: 'Font Awesome 5 Free';
    font-style: 0.8em;
    font-weight: bold;
    padding-right: 2px;
    content: '\f02b';
    color: #f8bc3a;
}

.widget_categories li a {
    font-size: .9em;
    color: #f8bc3a;
}

.widget_search form {
    color: #807b7b;
}

.widget_search .search-submit {
    color: #807b7b;
    background-color: #f5e4f5;
    border: 1px solid #ee94d7;
    border-radius: 2px;
    margin-left: 10px;
    outline: none;
}

.widget_search .search-submit:hover {
    background-color: #f8ddf5;
}

.widget_search .screen-reader-text {
    display: none;
}

/* 記事一覧 */

.kiji-list {
    margin: 15px 0;
    border: 1px solid #ee94d7;
}

.kiji-list a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: #807b7b;
}

.kiji-list a:after {
    display: block;
    clear: both;
    content: '';
}

.kiji-list a:hover {
    background-color: #f8e5f8;
    text-decoration: none;
}

.kiji-list img {
    object-fit: cover;
}

.kiji-list .text {
    width: auto;
    margin-left: 15%;
}

.kiji-list h2 {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 5px;
}

.kiji-list .kiji-date {
    font-size: .8em;
    margin: 0 5px 8px 0;
}

.cat-date {
    font-size: .7em;
    padding: 3px 5px;
    text-align: center;
    word-spacing: nowrap;
    color: #f8bc3a;
    border-radius: 3px;
    background-color: #fcfce5;  
}

.cat-date:before {
    font-family: 'Font Awesome 5 Free';
    font-style: 0.7em;
    font-weight: bold;
    padding-right: 2px;
    content: '\f02b';
    color: #f8bc3a;
}

.kiji-list p {
    font-size: .9em;
    margin: 10px 0;
}

/* ページネーション */
.pagination {
    display: flex;
    margin: 30px;
    text-align: center;
}

.pagination ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.pagination li {
    display: inline-block;
    width: auto;
}

.pagination li a, .pagination li > span {
    font-size: .9em;
    display: block;
    width: 30px;
    margin: 0 3px;
    padding: 5px 0;
    text-decoration: none;
    color: #ee94d7;
    border: 1px solid #ee94d7;
}

.pagination li a:hover {
    background-color: #f8e5f8;
}

.pagination span.page-numbers.current{
    background-color: #f8e5f8;
}

.pagination li .dots {
    border-color: transparent;
    width: 50%;
}

/* カテゴリーページタイトル */
.contents > h1 {
    color: #807b7b;
    font-size: 1.5em;
    margin: 15px 0 0;
}

/* 記事ページ */
.kiji {
    font-size: 1em;
    margin: 0;
    padding: 25px;
    color: #807b7b;
}

.kiji-info {
    display: flex;
}

.kiji-info span.kiji-date {
    font-size: .9em;
    display: inline-block;
    margin: 0;
    padding-right: 15px;
}

.kiji-info ul.post-categories {
    margin: 0 0 5px 0;
    padding: 0;
}

.kiji-info ul.post-categories > li {
    list-style: none;
    text-decoration: none;
    color: #f8bc3a;
    display: inline-block;
    white-space: nowrap;
    border: 1.5px dotted #f8bc3a;
    border-radius: 3px;
    background-color: #f7f7d8;
}

.kiji-info ul.post-categories > li:hover {
    background-color: #f5f5b5;
}

.kiji-info ul.post-categories > li a {
    color: #f8bc3a;
    margin: 8px;
}

.kiji-info ul.post-categories > li a:before{
font-family: 'Font Awesome 5 Free';
    font-style: 0.7em;
    font-weight: bold;
    padding-right: 2px;
    content: '\f02b';
    color: #f8bc3a;
}

.kiji-info .cat-data a:hover {
    text-decoration: none;
    opacity: .8;
}

.kiji-img img {
    width: 100%;
    height: auto;
    margin: 30px auto;
    text-align: center;
}

/* タグ */
.kiji-tag {
    text-align: right;
}

.kiji-tag ul {
    list-style: none;
}

.kiji-tag li {
    display: inline-block;
    color: #807b7b;
}

.kiji-tag li a {
    font-size: .8em;
    margin-right: 7px;
    padding: 2px 7px;
    text-decoration: none;
    color: #f8bc3a;
    border: 1px solid #f8bc3a;
    border-radius: 2px;
}

.kiji-tag li a:hover {
    background-color: #f7f7d2;
}

.kiji p {
    margin-top: 0;
    margin-bottom: 30px;
}

.kiji h1 {
    font-size: 1.7em;
    margin: .3em 0;
}

.kiji h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    padding: 0.4em 0;
    border-bottom: 5px solid #fccdfc;
}

.kiji h3 {
    font-size: 1.35em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding: .5em;
    border-left: 5px solid #fccdfc;
    background: transparent;
}

.kiji h4 {
    font-size: 1.2em;
    margin: 0 0 .3em;
    padding: 0.3em;
    border-left: 4px solid #fccdfc;
}

.kiji h5 {
    font-size: 1.1em;
    margin: 0 0 .3em;
}


@media (max-width: 599px) {
    .kiji-list a {
        padding: 10px;
    }
    .kiji-list img {
        width: 120px;
        height: 90px;
    }
    .kiji-list .text {
        margin-left: 5%;
    }
    .kiji-list h2 {
        font-size: .95em;
    }
    .kiji-date {
        margin-bottom: 0;
    }
    .kiji-list p {
        display: none;
    }
    .contents > h1 {
        font-size: 1.3em;
    }
    .kiji {
        font-size: 95%;
        line-height: 1.7;
    }
    .kiji h1 {
        font-size: 1.4em;
    }
    .kiji h2 {
        font-size: 1.25em;
    }
    .kiji h3 {
        font-size: 1.2em;
    }
    .kiji h3:after {
        display: none;
    }
    .kiji h4 {
        font-size: 1.15em;
    }
    .kiji h5 {
        font-size: 1.1em;
    }
}

@media (min-width: 768px) {
    #header-nav {
        display: block!important;
    }
    .header-nav {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .header-nav li {
        display: inline-block;
        width: auto;
    }
    .header-nav li a {
        font-size: 1.1em;
        padding: 5px 10px;;
    }
    #navbutton {
        display: none;
    }
    .footer-nav li {
        width: auto;
        text-align: left;
    }
    .footer-nav li a {
        font-size: 1em;
        padding: 10px 20px;
    }
    /*コピーライト*/
    .copyright p {
        text-align: right;
    }
}